<ul>
  <li>Don't hurt anyone</li>
  <li>Any cheating will be reported</li>
  <li>Cyber bullying is still illegal</li>
  <li>Be hum</li>
  <li>Remember anyone can see your post</li>
  <li>Just be sensible</li>